* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #09090b;
  color: #fafafa;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.etiqueta {
  color: #71717a;
}

h1 {
  font-size: 52px;
  font-weight: 800;
  color: #fafafa;
}

span {
  color: #4f15fb;
}

.subtitulo {
  color: #71717a;
  margin-top: 16px;
  font-size: 18px;
}

.caixa-entrada {
  width: 620px;
  background: #141419;
  border-radius: 16px;
  padding: 12px;
  margin-top: 30px;
  display: flex;
}

textarea {
  width: 100%;
  resize: none;
  outline: none;
  background: transparent;
  padding: 8px;
  color: #fafafa;
  font-size: 15px;
  border: none;
}

button {
  width: 20%;
  padding: 10px 24px;
  color: #ffffff;
  background: #7c3aed;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}
